body {
    /* 
    background-image: url(../assets/background/bg-dark-web.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    */

    background: url(../assets/background/bg-dark-web.png) no-repeat center/cover;
}

header {
    border: 2px solid red;
    padding: 24px;
}

h1 {
    border: 1px solid green;
    display: inline;
}

h2 {
    border: 1px solid blue;
    display: inline-block;
    font-family: arial, helvetica, sans-serif;
}

p {
    border: 1px solid orange;
    padding: 12px 24px 12px 24px;
}

div {
    border: 2px solid green;
    padding: 24px;
}

#id-span {
    border: 1px solid purple;
    display: block;
}

#title-notice-1 {
    border: 1px solid yellow;
    font-family: monospace;
    display: inline-block;
}

#content-notice-1 {
    display: block;
    font-family: 'Open Sans', Arial, sans-serif;
    padding: 24px;
}
