* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(../assets/background/bg-dark-web.png) no-repeat center/cover;
}

body * {
    font-family: 'Inter', sans-serif;
    color: #fff;
}

#container {
    border: 1px solid white;
    margin: auto;
    width: 360px;
}

#profile {
    text-align: center;
}

#profile img {
    width: 120px;
}

#profile p {
    line-weight: 24px;
    font-weight: 500;
}